<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-UvlotApp-20190416112131.mdf;Initial Catalog=aspnet-UvlotApp-20190416112131;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="UvlotEntities" connectionString="metadata=res://*/DataManager.Uvlot.csdl|res://*/DataManager.Uvlot.ssdl|res://*/DataManager.Uvlot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Uvlot;persist security info=True;user id=sa;password=su990rt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UvlotEntitiestest" connectionString="metadata=res://*/DataManager.Uvlot.csdl|res://*/DataManager.Uvlot.ssdl|res://*/DataManager.Uvlot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5044.site4now.net;initial catalog=DB_A438AA_Uvlot;user id=DB_A438AA_Uvlot_admin;password=su990rtc0de;MultipleActiveResultSets=True;
    App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UvlotEntitiesLive" connectionString="metadata=res://*/DataManager.Uvlot.csdl|res://*/DataManager.Uvlot.ssdl|res://*/DataManager.Uvlot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5039.site4now.net;initial catalog=DB_A438AA_UvlotTest;user id=DB_A438AA_UvlotTest_admin;password=su990rtc0de;MultipleActiveResultSets=True; 
     App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="RemitaDirectDebitEntities" connectionString="metadata=res://*/DataAccess.RemitaDirectDebit.csdl|res://*/DataAccess.RemitaDirectDebit.ssdl|res://*/DataAccess.RemitaDirectDebit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5044.site4now.net;initial catalog=DB_A438AA_DirectDebit;user id=DB_A438AA_DirectDebit_admin;password=su990rtc0de;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Server=sql5044.site4now.net;database=DB_A438AA_DirectDebit;uid=DB_A438AA_DirectDebit_admin;pwd=su990rtc0de;" />
    
    <add key="CashoutLimit" value="2500" />
    <add key="InitialDebit" value="10" />
    <add key="MandateStatusTest" value="http://remita.uvlot.com/api/v1/PaeLyt/Transact/MandateStatus" />

    <add key="DirectDebitLive" value="http://payment.cashnownow.net/api/v1/PaeLyt/Transact/DebitInstruction" />
    <add key="DebitStatusLive" value="http://payment.cashnownow.net/api/v1/PaeLyt/Transact/DebitStatus" />

    <add key="DirectDebitTest" value="http://remita.uvlot.com/api/v1/PaeLyt/Transact/DebitInstruction" />
    <add key="DebitStatusTest" value="http://remita.uvlot.com/api/v1/PaeLyt/Transact/DebitStatus" />

    <add key="mandateType" value="DD" />

    <add key="MandateStatusLive" value="http://payment.cashnownow.net/api/v1/PaeLyt/Transact/MandateStatus" />
    <add key="MandateSetUpTest" value="http://payment.uvlot.com/api/v1/PaeLyt/Transact/MandateSetUp" />
    <add key="OTPvalidationTest" value="http://payment.uvlot.com/api/v1/PaeLyt/Transact/ValidateAuthorization" />
    <add key="DebitInstructionTest" value="http://payment.uvlot.com/api/v1/PaeLyt/Transact/DebitInstruction" />
    <!--<add key="DebitStatusTest" value="http://payment.uvlot.com/api/v1/PaeLyt/Transact/DebitStatus" />-->
    <add key="ValidateBVN" value="https://api.ravepay.co/v2/kyc/bvn/{$BVNnumber}?seckey={$secKey}" />
    <add key="secKey" value="FLWSECK-f4cb7857be4e3a60707f6d70fa439cab-X" />
    <add key="ResetPasswordLink" value="http://localhost:28957/User/ResetPassword?value=" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultUrl" value="http://localhost:22688/Admin/index" />
    <add key="owin:appStartup" value="UvlotApplicationConfig" />
    <add key="Applicant" value="9" />
    <add key="DefaultUser" value="2" />
    <add key="RecommendLevelPassword" value="password" />
    <add key="RecommendRole" value="2" />
    <add key="ApproveRole" value="3" />
    <add key="SecondApproveRole" value="7" />
    <add key="DisburseRole" value="5" />
     <add key="DisburseCash" value="http://agentsapi.cashnownow.net/api/disburse" />
    <add key="DisburseCashoo" value="http://paelyt-001-site9.gtempurl.com/api/disburse" />
    <add key="DisburseCllbackUrl" value="https://cashnownow.net/GetPaymentResponse" />
    <add key="DisburseCllbackUrl00" value="http://localhost:22688/GetPaymentResponse" />
    <add key="APIRouteURL" value="api/v1/PaeLyt" />
    <add key="Narration" value="Loan Payment" />
    <add key="Currency" value="NGN" />
    <add key="DiburseSeckey" value="sk_qrzbo4hd8zty4cq2eixpsdkdfyns6kns" />
    <add key="mandateSetupurlTest" value="http://remita.uvlot.com/api/v1/PaeLyt/Transact/SetUpDirectDebit" />
    <add key="mandateSetupurl" value="http://payment.cashnownow.net/api/v1/PaeLyt/Transact/SetUpDirectDebit" />
    <add key="OfferLetterUrlLocal" value="http://localhost:28957/Loans/OfferLetter?Refid=" />
    <add key="GuaOfferLetterUrlLocal" value="http://localhost:28957/Loans/GuarantorLetter?Refid=" />
    <add key="DisburseOfferLetterLocal" value="http://localhost:28957/Loans/DisburseOfferLetter?Refid=" />
    <add key="OfferLetterUrlLive" value="http:/uvlot.com/Loans/OfferLetter?Refid=" />
    <add key="GuaOfferLetterUrlLive" value="http:/uvlot.com/Loans/GuarantorLetter?Refid=" />
    <add key="DisburseOfferLetterLive" value="http:/uvlot.com/Loans/DisburseOfferLetter?Refid=" />
    <add key="PartnerID" value="ccb5ea9fd816bef407e658ccd74c1d1db7b" />
    <add key="PartnerKey" value="dc5b3dfd102242697e14f119cf0300b8ac" />
    <!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
    <!--MoneyWave-->
    <add key="MoneyWave_Api_Key_Test" value="ts_6ZL0C544ZF7KIHZQV905" />
    <add key="MoneyWave_Secret_Test" value="ts_PPKI49IJ66T084LRIM9SO8XN5QO2HG" />
    <add key="MoneyWave_ApiBase_Test" value="https://moneywave.herokuapp.com" />
   
    <!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
    <add key="MoneyWave_Api_Key_Live" value="lv_1ZL3SGTHQFL21I2RSIUG" />
    <add key="MoneyWave_Secret_Live" value="lv_CVD9XPELTOATFMK62FBADDXB8VTXJE" />
    <add key="MoneyWave_ApiBase_Live" value="https://live.moneywaveapi.co" />
    <add key="MoneyWaveResolveAccount" value="/v1/resolve/account" />
    <add key="DemoMode" value="False" />
    <add key="MoneyWaveVerify" value="/v1/merchant/verify" />
    <!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

    <add key="SendMailFlag" value="1" />
    <add key="MailServerAddress" value="smtp.zoho.com" />
    <!--<add key="MailFromPassword" value="Welcome_2019!" />
    <add key="MailFrom" value="noreply@payorboro.com" />-->
    <add key="MailFromPassword" value="Welcome_2019!" />
    <add key="MailFrom" value="noreply@uvlot.com" />
    <add key="SMTPServerPort" value="587" />
    <add key="EnableSsl" value="true" />


  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>