
@{
    ViewBag.Title = "TestRecommed";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!DOCTYPE HTML>
<html>

<body class="cbp-spmenu-push">
    <div class="main-content">
        
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page">
               <br>
            <script src="js/index1.js"></script>
<div class="charts">
                    <div class="mid-content-top charts-grids">
                        <div class="middle-content">


                            <!-- start content -->
                            <div class="row MainRow">
                                <h3 class="formHeader">Personal Information </h3>
                                <br>
                                <div class="col-md-6 ">


                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">First Name:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">Last name:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">Class:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">

                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">First Name:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">Last name:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">Class:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Comment Box Starts-->
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <div class="form-group div-padder">
                                            <label for="inputComments">Comments</label>
                                            <textarea class="form-control" id="inputComments"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <!--Comment Box Ends-->
                                <!--Radio button srarts-->
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <form>
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                    <input name="option" type="radio">
                                                    One
                                                </label>
                                                <label class="radio-inline">
                                                    <input name="option" type="radio">
                                                    Two
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <!--Radio button Ends-->
                                <!--check box starts-->
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <form>


                                            <div class="form-group">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">
                                                    Flyers
                                                </label>

                                                <label class="checkbox-inline">
                                                    <input type="checkbox">
                                                    Banners
                                                </label>

                                                <label class="checkbox-inline">
                                                    <input type="checkbox">
                                                    SMS
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">
                                                    WhatsApp
                                                </label>

                                            </div>


                                        </form>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <!--check box ends-->
                                <!--Single Button Starts-->
                                <div class="row">
                                    <div class="complete-button">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2" style="">
                                            <button class="button-two button-proceed"><span>Proceed</span></button>
                                        </div>

                                        <div class="col-md-8"></div>
                                    </div>
                                </div>
                                <!--// Single Button Ends-->
                            </div>
                            <div class="row MainRow">
                                <h3 class="formHeader">Personal Information </h3>
                                <br>
                                <div class="col-md-6 ">


                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">First Name:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">Last name:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">Class:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">

                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">First Name:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">Last name:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                    <div class="complete-line">
                                        <div class="col-md-4">
                                            <p class="sikLabelTitle">Class:</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="sikLabelResult">gdgdg</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Comment Box Starts-->
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <div class="form-group div-padder">
                                            <label for="inputComments">Comments</label>
                                            <textarea class="form-control" id="inputComments"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <!--Comment Box Ends-->
                                <!--Radio button srarts-->
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <form>
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                    <input name="option" type="radio">
                                                    One
                                                </label>
                                                <label class="radio-inline">
                                                    <input name="option" type="radio">
                                                    Two
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <!--Radio button Ends-->
                                <!--check box starts-->
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <form>


                                            <div class="form-group">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">
                                                    Flyers
                                                </label>

                                                <label class="checkbox-inline">
                                                    <input type="checkbox">
                                                    Banners
                                                </label>

                                                <label class="checkbox-inline">
                                                    <input type="checkbox">
                                                    SMS
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">
                                                    WhatsApp
                                                </label>

                                            </div>


                                        </form>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <!--check box ends-->
                                <!--Single Button Starts-->
                                <div class="row">
                                    <div class="complete-button">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2" style="">
                                            <button class="button-two button-proceed"><span>Proceed</span></button>
                                        </div>

                                        <div class="col-md-8"></div>
                                    </div>
                                </div>
                                <!--// Single Button Ends-->
                            </div>
                            <!--// start content -->

                        </div>

                    </div>
                </div>

            </div>
        </div>


       
    </div>

</body>
</html>

