@{
    ViewBag.Title = "Sigin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


    <div class="page-header01">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center ">
                    <h2>Student Pre-Loan</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Apply Now</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end of page header -->
    <section class="section-padding contact-us-padding form-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                   @using (Html.BeginForm("StudentPreLoan", "Loans"))
                   {

                    @*<input type="text" id="txt" name="txt" readonly="readonly" />*@
                    <form action="#" method="post">

                        @if (TempData["ErrMsg"] != null)
                        {
                            <div id="Msgs" class="alert alert-danger">
                                @TempData["ErrMsg"]
                            </div>
                        }

                        <div class="row list-input">
                            <div class="col-md-12 col-lg-12 formHeaderBg">
                                <h3 class="formHeader">Student Pre-Loan</h3>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    @Html.DropDownList("id", new SelectList(ViewBag.StudentQualification, "id", "Name"), new { })
                                </div>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">

                                </div>
                            </div>

                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <input type="text" id="MatricNum" name="MatricNum" required />
                                </div>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">

                                </div>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                              <input type="text" id="PhoneNum" name="PhoneNum" required />
                                </div>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">

                                </div>
                            </div>
                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <input type="submit" name="Proceed" value="Proceed" />
                                </div>
                            </div>
                    </form>
                   }
                    
                </div>
            </div>
        </div>
    </section>
    <!-- start footer area -->
    
    
    <!-- end of footer area -->
    <script src=@Url.Content("/asset/js/jquery-3.3.1.min.js")></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src=@Url.Content("/asset/js/jquery-ui.js")></script>
    <script src=@Url.Content("/asset/js/popper.min.js")></script>
    <script src=@Url.Content("/asset/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/asset/js/jquery.nice-select.js")></script>
    <script src=@Url.Content("/asset/js/menumaker.js")></script>
    <script src=@Url.Content("/asset/js/owl.carousel.min.js")></script>
    <script src=@Url.Content("/asset/js/slider.js")></script>
    <script src=@Url.Content("/asset/js/active.js")></script>
    <script src=@Url.Content("/asset/js/jquery-2.2.3.min.js")></script>
    <script type='text/javascript' src=@Url.Content("/asset/js/jquery-2.2.3.min.js")></script>
    <script src=@Url.Content("/Scripts/jquery-1.10.2.min.js")></script>


    <script type="text/javascript">



    $(document).ready(function () {

        $("#States").change(function () {
            $("#lgaList").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getLGAsByStateID","Loans")',
                dataType: 'json',
                data: { id: $("#States").val() },
                success: function (lga) {

                    $.each(lga, function (i, lga) {
                        $("#lgaList").append('<option value="'
                                                   + lga.Value + '">'
                                             + lga.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return false;
        })
    });
    </script>

