
@{
    Layout = null;
}

@model UvlotApplication.Classes.TableObjects.LoanApplication
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href=@Url.Content("/asset/img/favicon.png") type="image/gif">
    <meta name="description" content="Cash Now Now - loans, savings, payments, agency.">
    <meta name="keywords" content="Cash Now Now - loans, savings, payments, agency.">
    <title>Cash Now Now</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/asset/css/bootstrap.min.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/asset/css/fontawesome-all.min.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/asset/css/reset.css")>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=@Url.Content("/asset/css/style.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/asset/css/responsive.css")>
    <script type='text/javascript' src=@Url.Content("/asset/js/jquery-2.2.3.min.js")></script>

</head>
<body class="js">
    <div id="preloader"></div>
    <!-- start logo menu area -->
    <header class="second-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="second-logo">
                        <a href="/"><img src=@Url.Content("/asset/img/logo.png") alt=""></a>
                    </div>
                </div>

                <div class="col-lg-8 col-md-10 menuShift">
                    <div id="cssmenu">
                        <ul>
                            <li>
                                <a href="/">Home</a>

                            </li>
                            <li><a href="about.html">About us </a></li>
                            <li>
                                <a href="services.html">Services</a>
                                <ul>

                                    <li><a href="business-loan.html">Business Loan</a></li>
                                    <li><a href="education-loan.html">Education Loan</a></li>
                                    <li><a href="car-loan.html">Car Loan</a></li>
                                    <li><a href="home-loan.html">Home Loan</a></li>
                                </ul>
                            </li>

                            <!-- <li><a href="#">Eligibility</a></li> -->

                            <li>
                                <a href="#">Resources</a>
                                <ul>



                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="how-it-work.html">How It Works</a></li>
                                    <li><a href="apply-now.html">T&C</a></li>

                                </ul>
                            </li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1">
                    <a href="#" class="btn btn-primary btn-sm"> Login</a>
                </div>
                <div class="col-lg-1">
                    <a href="#" class="btn btn-primary btn-sm"> Register</a>
                </div>

            </div>
        </div>
    </header>
    <!-- /header -->
    <!-- end of logo menu area -->
    <!-- end of header area -->
    <div class="page-header01">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center ">
                    <h2>BVN Verfication</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">BVN Verfication</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end of page header -->
    <section class="section-padding contact-us-padding form-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    @using (Html.BeginForm("BVNValidation", "Loans", FormMethod.Post))
                    {
                        <form action="#" method="post">


                            <div class="row list-input">
                                <div class="col-md-12 col-lg-12 formHeaderBg">
                                    <h3 class="formHeader">BVN Verification </h3>
                                </div>


                                

                                <div class="col-md-6">
                                    <div class="single-get-touch">
                                        <input type="text" name="BVN" required="required" value="" placeholder="ENTER VALID BVN">
                                        @*<label class="control-label">BVN NUMBER<span class="color-red">*</span></label>:*@
                                    </div>
                                </div>

                                <div class="col-md-6 mr0">
                                    <div class="single-get-touch">
                                        @*<input type="text" name="BVN" required="required" value="" placeholder="ENTER VALID BVN">*@

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-get-touch">
                                        <label>
                                            <strong id="error">@ViewBag.Data</strong>
                                        </label>
                                    </div>
                                </div>
               
                                <div class="col-md-12">
                                    <div class="single-get-touch">
                                        <a href="#"> <button type="submit" name="submit" class="btn btn-default btn-sm2 btnAction">Verify</button></a>

                                    </div>
                                </div>



                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- start footer area -->
    <section class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <!-- <img src="asset/img/footer-logo.png" alt="" /> -->
                            <img src="asset/img/logo.png" alt="" />
                        </div>
                        <p>With experience and knowledge uvlot wе’rе hеrе to рrоvіdе уоu wіth fіnаnсіаl ѕоlutіоnѕ fоr аll уоur lеndіng needs. Whether you are lооkіng fоr any kind of loan, оur lending tеаm wіll explain lеndіng орtіоnѕ to уоu іn a ѕtrаіghtfоrwаrd mаnnеr.</p>
                        <div class="mail">
                            <span>Any Queries:</span>support@cashnownow.com
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="footer-widget pages-widget">
                        <div class="footer-title">
                            <h4>Solutions</h4>
                        </div>
                        <ul>
                            <li><a href="#">Personal Loan</a></li>
                            <li><a href="#">Car Loan</a></li>
                            <li><a href="#">Home Loan</a></li>
                            <li><a href="#">Education Loan</a></li>
                            <li><a href="#">Business Loan </a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="footer-widget recent-post">
                        <div class="footer-title">
                            <h4>Loan Tips</h4>
                        </div>
                        <ul>
                            <li>
                                <a href="#">
                                    Loan blabla This book is a treatise on theory
                                    of ethics very popular.
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    loan Be cites of the word in classical
                                    literature to discove.
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>Newsletter</h4>
                        </div>
                        <div class="form-widget">
                            <p>Subscribe to our newsletter and get latest news related to cash now now its loans,credits,perday loan,interates rate.</p>
                            <form action="#" method="get">
                                <div class="newsletter">
                                    <label for="envalope" class="fa fa-envelope"></label>
                                    <input id="envalope" type="email" name="email" placeholder="Email address">
                                </div>
                                <button type="submit" class="button btn btn-default btn-lg">Subscribe +</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copy-right-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="copyright-text">
                        <p><i class="fa fa-copyright"></i> 2019 Cash Now Now. All Rights Reserved | Powered by <a href="http://www.paelyt.com" target="_blank">Paelyt Solution</a></p>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="footer-nave">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square"></i></a>
                        <a href="#"><i class="fa fa-vimeo-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of footer area -->
    <script src=@Url.Content("/asset/js/jquery-3.3.1.min.js")></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src=@Url.Content("/asset/js/jquery-ui.js")></script>
    <script src=@Url.Content("/asset/js/popper.min.js")></script>
    <script src=@Url.Content("/asset/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/asset/js/jquery.nice-select.js")></script>
    <script src=@Url.Content("/asset/js/menumaker.js")></script>
    <script src=@Url.Content("/asset/js/owl.carousel.min.js")></script>
    <script src=@Url.Content("/asset/js/slider.js")></script>
    <script src=@Url.Content("/asset/js/active.js")></script>
    <script src=@Url.Content("/asset/js/jquery-2.2.3.min.js")></script>
    <script type='text/javascript' src=@Url.Content("/asset/js/jquery-2.2.3.min.js")></script>
    <script src=@Url.Content("/Scripts/jquery-1.10.2.min.js")></script>


    <script type="text/javascript">



    $(document).ready(function () {

        $("#States").change(function () {
            $("#lgaList").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getLGAsByStateID","Loans")',
                dataType: 'json',
                data: { id: $("#States").val() },
                success: function (lga) {

                    $.each(lga, function (i, lga) {
                        $("#lgaList").append('<option value="'
                                                   + lga.Value + '">'
                                             + lga.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return false;
        })
    });
    </script>




</body>

</html>
